<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Uploaded Documents</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="container">
    <h2 class="text-center">Uploaded Documents</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Uploaded At</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.file.name }}</td>
                <td>{{ document.uploaded_at }}</td>
                <td><a href="{{ document.file.url }}" class="btn btn-primary" download>Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'todo' %}" class="btn btn-default">Back to Home</a>
</body>

</html>
